[submodule "05_RtosButtonToBlinky"]
	path = 05_RtosButtonToBlinky
	url = https://github.com/MaxLell/05_RtosButtonToBlinky.git
[submodule "11_PolledEcho"]
	path = 11_PolledEcho
	url = https://github.com/MaxLell/11_PolledEcho.git
[submodule "12_IsrEcho"]
	path = 12_IsrEcho
	url = https://github.com/MaxLell/12_IsrEcho.git
[submodule "13_CommandLineInterface"]
	path = 13_CommandLineInterface
	url = https://github.com/MaxLell/13_CommandLineInterface.git
[submodule "21_BuzzOnCliCmd"]
	path = 21_BuzzOnCliCmd
	url = https://github.com/MaxLell/21_BuzzOnCliCmd.git
